.educationBanner {
  composes: banner from '../../pages/root/Root.module.css';
  color: white;
  font-family: Kalam, cursive;
  border: 1px solid black;
  background: rgb(0, 0, 0, 0.7);
}

.education {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 90%;
  font-family: Kalam, cursive;
}

.institution {
  color: white;
  flex: 1;
  padding: 3rem;
  margin: 0 0.75rem;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 1rem;
}

.institutionImage {
  width: 90%;
  height: 65%;
  margin: 0 auto;
  overflow: hidden;
}

.institutionImage img {
  display: block;
  max-width: 100%;
}

.institutionLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0;
}

.siteLink {
  composes: siteLink from '../../pages/root/Root.module.css';
}

.siteLinkRef {
  composes: siteLinkRef from '../../pages/root/Root.module.css';
}

@media (max-width: 768px) {
  .education {
    flex-flow: column;
    padding: 0;
    margin-top: 2rem;
  }

  .institution {
    margin-bottom: 2rem;
    padding: 1.25rem 1rem 0 1rem;
  }

  .institution .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}