.employmentBanner {
  color: black;
  font-size: 2rem;
  top: 5rem;
  font-family: Merriweather, serif;
  text-align: center;
  background-color: white;
  border: 1px solid white;
}

.employment {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.employer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  background-color: white;
}

.employerLabel {
  border: 1px solid black;
}

.employer h3 {
  text-align: left;
  padding: 2rem 1rem 2rem 4rem;
  font-size: 2rem;
  font-family: Merriweather, serif;
  border: 1px solid black;
  border-radius: 2rem;
}

.job {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 1%;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
}

.job h4 {
  text-align: left;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  font-family: Merriweather, serif;
  width: 50%;
}

.job p {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-family: Merriweather, serif;
  width: 50%;
}

.job {
  border: 2px solid black;
}

.employmentHomeLink a {
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(223, 220, 183);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 50%;
  color: black;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .employer h3 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .job {
    flex-flow: column;
  }

  .job h4 {
    text-align: center;
    font-size: 1rem;
    width: 100%;
    padding-left: 0;
  }

  .job p {
    font-size: 1rem;
    width: 100%;
  }
}