.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Assets
## Images
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.ico

## Fonts
*.woff
*.woff2
*.eot
*.ttf
*.otf

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
*.vite
notes
*.notes

# Prisma
/app/generated/prisma
db
*.db
*.sql

# React Router
.react-router/
.yarn/