.contact {
  font-size: 2rem;
  font-family: Damion, cursive;
  margin-top: 3rem;
  color: black;
  text-align: center;
  background: rgb(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 2rem;
  width: 75%;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.name,
.subject,
.email {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.name input,
.subject input,
.email input {
  border-radius: 0.5rem;
}

.submit input {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

input {
  background: rgb(255, 255, 255, 0.2);
}

textarea {
  height: 20rem;
  width: 75%;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .contact {
    width: 90%;
  }

  textarea {
    height: 10rem;
  }
}