.whoami {
  display: flex;
  padding: 2rem;
  margin-top: 10rem;
  justify-content: center;
  opacity: 0.7;
  background-color: white;
}

.whoamiContent {
  padding: 1rem;
  width: 50%;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid black;
}